<!DOCTYPE html>
<html>
<head>
  <title>Steam Hashtags</title>
</head>
<body>
  <h1>HELLO</h1>
  <ul>
    <% for (var i = 0; i < posts.length; i++) { %>
    <li>
      <ul>
        <li><a href="<%= posts[i].url %>"><%= posts[i].title %></a></li>
        <ul>
          <% for (var h = 0; h < posts[i].hashtags.length; h++) { %>
            <li><%= posts[i].hashtags[h].tag %></li>
          <% } %> 
        </ul>
      </ul>
    </li>
    <% } %>
  </ul>
</body>
</html>